/* dancing-script-regular - latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dancing-script-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Dancing Script Regular'), local('DancingScript-Regular'),
         url('../fonts/dancing-script-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/dancing-script-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/dancing-script-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/dancing-script-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/dancing-script-v9-latin-regular.svg#DancingScript') format('svg'); /* Legacy iOS */
}
/* abeezee-regular - latin */
@font-face {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/abeezee-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('ABeeZee Regular'), local('ABeeZee-Regular'),
         url('../fonts/abeezee-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/abeezee-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/abeezee-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/abeezee-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/abeezee-v11-latin-regular.svg#ABeeZee') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
  }


body {
    background-color: transparent !important;
}

::placeholder {
    color: white;
    opacity: 0.8;
}

.ui-input-text .ui-body-inherit .ui-corner-all .ui-shadow-inset {
    background-color: transparent !important;
}

#logInPage.ui-page, #createAccountPage.ui-page, #preferences{
    background-color: transparent !important;
    background: url(../img/blurred-background-1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size:100% 100%;
}

.login-box{
    width: 90vw;
    height: 100vh;
    color: #fff;
    background-color: inherit;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 50px;
}

.firstHeader{
    height: 20vh;
    text-align: center;
    margin-bottom: 7vh;
}

.firstHeader h1{
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    font: 11vh 'Dancing Script', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #142e3f;
}

.firstHeader p{
    margin-top: 3vh;
    padding: 0%;
    font: 4vh 'ABeeZee', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #142e3f;
}

.login-box .formSignIn input, .login-box .formRegister input{
    background-color: transparent;
    width: 100%;
    margin-top: 10px;
}
.login-box .formSignIn input[type="email"], input[type="password"],
.login-box .formRegister input[type="email"], input[type="password"]
{
    font: 3vh 'ABeeZee', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    outline: none;
    height: 4vh;
    color: white;
}

#lostPassword {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: left;
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #FFF;
    opacity: 0.8;
    font: 90% 'Roboto', Arial, Helvetica, sans-serif;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
#lostPassword:focus {
    outline: none;
  }
  #lostPassword:hover {
      text-decoration: transparent;
      outline: none;
      border: none;
  }
  #lostPassword:active {
    text-decoration: transparent;
    outline: none;
      border: none;
  }

/* Shared */
.login-box .loginBtn {
    box-sizing: border-box;
    position: relative;
    margin-top: 15px;
    width: 100%;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }

   /* Firebase */
   .loginBtnFirebase {
    background-color: #fdbe80;
    height: 34px !important;
    color: #142e3f !important;
    text-align: center !important;
    padding: 4px 6px 0px 0px !important;
    font: 18px 'ABeeZee', Arial, Helvetica, sans-serif !important;
    background-image: linear-gradient(#fdbe80, #efa45e);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #ef9a4a;
  }
  .loginBtnFirebase:before {
    border-right: #ef9a4a 1px solid;
    background: url('../img/arrow-point-to-right-24.png') 6px 6px no-repeat;
  }
  .loginBtnFirebase:hover,
  .loginBtnFirebase:focus {
    background-color: #ecc69e;
    background-image: linear-gradient(#ecc69e, #fdc68f);
  }
 /* Facebook */
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }  
  
  /* Google */
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }

  .btnRegister {
    box-sizing: border-box !important;
    position: relative !important;
    margin-top: 20px;
    height: 34px !important;
    padding: 4px 0px 0px 0px !important;
    background-color: Transparent !important;
    color: white !important;
    background-repeat:no-repeat;
    font: 20px 'ABeeZee', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-decoration: underline !important;
    opacity: 0.8;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
  .btnRegister:focus {
    outline: none;
  }
  .btnRegister:hover {
      text-decoration: transparent;
      outline: none;
      border: none;
  }
  .btnRegister:active {
    text-decoration: transparent;
    outline: none;
      border: none;
  }
