/* dancing-script-regular - latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dancing-script-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Dancing Script Regular'), local('DancingScript-Regular'),
         url('../fonts/dancing-script-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/dancing-script-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/dancing-script-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/dancing-script-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/dancing-script-v9-latin-regular.svg#DancingScript') format('svg'); /* Legacy iOS */
}
/* abeezee-regular - latin */
@font-face {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/abeezee-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('ABeeZee Regular'), local('ABeeZee-Regular'),
         url('../fonts/abeezee-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/abeezee-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/abeezee-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/abeezee-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/abeezee-v11-latin-regular.svg#ABeeZee') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
  }


body {
    background-color: transparent !important;
}

::placeholder {
    color: white;
    opacity: 0.8;
}

.ui-input-text .ui-body-inherit .ui-corner-all .ui-shadow-inset {
    background-color: transparent !important;
}

#logInPage.ui-page, #createAccountPage.ui-page{
    background-color: transparent !important;
    background: url(../img/blurred-background-1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size:100% 100%;
}

.login-box{
    width: 90vw;
    height: 100vh;
    color: #fff;
    background-color: inherit;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 50px;
}

.firstHeader{
    height: 20vh;
    text-align: center;
    margin-bottom: 7vh;
}

.firstHeader h1{
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    font: 11vh 'Dancing Script', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #142e3f;
}

.firstHeader p{
    margin-top: 3vh;
    padding: 0%;
    font: 4vh 'Advent Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #142e3f;
}

.login-box .formSignIn input, .login-box .formRegister input{
    background-color: transparent;
    width: 100%;
    margin-top: 10px;
}
.login-box .formSignIn input[type="email"], input[type="password"],
.login-box .formRegister input[type="email"], input[type="password"]
{
    font: 20px 'Advent Pro', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    outline: none;
    height: 34px !important;
    color: white;
}

#lostPassword {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: left;
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #FFF;
    opacity: 0.8;
    font: 90% 'Roboto', Arial, Helvetica, sans-serif;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
#lostPassword:focus {
    outline: none;
  }
  #lostPassword:hover {
      text-decoration: transparent;
      outline: none;
      border: none;
  }
  #lostPassword:active {
    text-decoration: transparent;
    outline: none;
      border: none;
  }

/* Shared */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    margin-top: 15px;
    width: 100%;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }

   /* Firebase */
   .loginBtnFirebase {
    background-color: #fdbe80;
    height: 34px !important;
    color: #142e3f !important;
    text-align: center !important;
    padding: 0px 6px 0px 0px !important;
    font-size: 18px !important;
    background-image: linear-gradient(#fdbe80, #efa45e);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #ef9a4a;
  }
  .loginBtnFirebase:before {
    border-right: #ef9a4a 1px solid;
    background: url('../img/arrow-point-to-right-24.png') 6px 6px no-repeat;
  }
  .loginBtnFirebase:hover,
  .loginBtnFirebase:focus {
    background-color: #ecc69e;
    background-image: linear-gradient(#ecc69e, #fdc68f);
  }
 /* Facebook */
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }  
  
  /* Google */
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }

  .btnRegister {
    box-sizing: border-box !important;
    position: relative !important;
    margin-top: 20px;
    height: 34px !important;
    padding: 4px 0px 0px 0px !important;
    background-color: Transparent !important;
    color: white !important;
    background-repeat:no-repeat;
    font-size: 20px !important;
    font-weight: lighter !important;
    text-decoration: underline !important;
    opacity: 0.8;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
  .btnRegister:focus {
    outline: none;
  }
  .btnRegister:hover {
      text-decoration: transparent;
      outline: none;
      border: none;
  }
  .btnRegister:active {
    text-decoration: transparent;
    outline: none;
      border: none;
  }

  /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed !important; /* Stay in place */
  z-index: 3 !important; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(18, 55, 80, 0.9);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px !important; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font: 35px 'Advent Pro', Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: rgb(111, 190, 240) !important;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.container {
  display: inline-block;
  cursor: pointer;
}

.pageTitle {
  display: inline-block;
  width: 85vw;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #dce7eb;
  margin: 6px 0;
  transition: 0.4s;
}

/*checkbox*/
#clothesCategories .check input {
  display: none;
}

#clothesCategories .check input:checked + label .box {
  -webkit-animation: animOn 0.6s 1 forwards;
          animation: animOn 0.6s 1 forwards;
  background: rgba(0, 0, 0, 0.5);
}

#clothesCategories .check input:checked + label .box i {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  opacity: 1;
}

#clothesCategories .check label {
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 40px;
  cursor: pointer;
  color: #142e3f;
  text-decoration: none;
  text-shadow: -0.4px 0 #BDB098, 0 0.4px #BDB098, 0.4px 0 #BDB098, 0 -0.4px #BDB098;
  font-size: 20px;
  font-weight: lighter;
}

#clothesCategories .check label .box {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: relative;
  width: 30px;
  height: 30px;
  -webkit-transition: background 300ms ease;
  transition: background 300ms ease;
}

#clothesCategories .check label .box:hover {
  background: rgba(0, 0, 0, 0.5);
}

#clothesCategories .check label .box i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  display: inline-block;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transform: translate(-50%, -50%) scale(6);
          transform: translate(-50%, -50%) scale(6);
}

@-webkit-keyframes animOn {
  40% {
    height: 20px;
    width: 45px;
  }
  60% {
    height: 40px;
    width: 20px;
  }
  75% {
    height: 15px;
    width: 40px;
  }
  100% {
    height: 30px;
    width: 30px;
  }
}

@keyframes animOn {
  40% {
    height: 20px;
    width: 45px;
  }
  60% {
    height: 40px;
    width: 20px;
  }
  75% {
    height: 15px;
    width: 40px;
  }
  100% {
    height: 30px;
    width: 30px;
  }
}

.author {
  margin-top: 3vh;
  padding: 0%;
  font-size: 30px;
  font-weight: 400;
  color: #142e3f;
  text-align: center;
}

.authorTitle {
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  font: 11vh 'Dancing Script', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #142e3f;
  text-align: center;
}

#offersContainer{
    margin-top: 9vh;
}

.offer{
    display: inline-block;
    background-color: #e8c995;
    margin-left: 2vw;
    margin-top: 3vh;
    border: 1.5px solid rgb(37, 37, 37);
    border-radius: 15px;
    box-shadow: 5px 10px 8px #888888;
    width: 42vw;
    height: auto;
    position: relative;
    cursor: pointer;
    z-index: 1 !important;
}

.offerImg img{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: contain;
}

.offerFooter p{
    margin-top: 2vw;
    margin-right: 0.6vw;
    text-align: right;
    font: 3vh 'Dancing Script', Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #020c13;
    text-shadow: -0.4px 0 #BDB098, 0 0.4px #BDB098, 0.4px 0 #BDB098, 0 -0.4px #BDB098;
}

.offerFooter p s{
    font-size: 2.5vh;
    color: darkred;
    position: absolute;
    right: 0.4vw;
    bottom: 3vh;
}

.offerFooter img{
    width: 45%;
    height: auto;
    position: absolute;
    left: 1vw;
    bottom: 0.6vh;
}

.topBar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
    height: 7vh;
    z-index: 2 !important;
    margin-bottom: 7vh;
    display: inline-block;
    height: auto;
    background: linear-gradient(to bottom right, #536D7E, #788C99);
}

.topBar h1 {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: center;
    font: 7vh 'Dancing Script', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-shadow: -1px 0 #233F51, 0 1.5px #142e3f, 1.5px 0 #233F51, 0 -1.5px #142e3f;
}

.pageNav {
  padding-left: 3vw;
  padding-top: 2vh;
}

.super-box{
  padding-top: 10vh !important;
  width: 90vw;
  height: 100vh;
  color: #fff;
  background-color: inherit;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 30px 50px;
}

.singleOffer{
    margin-top: 10vh;
}

.offerGallery img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: contain;
    display: block;
}

.offerName{
  margin-top: 5%;
  margin-bottom: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  text-align: center;
  font: 5vh 'ABeeZee', Arial, Helvetica, sans-serif;
  text-decoration: bold;
  font-weight: 700;
  color: #142e3f;
}

.offerDescription{
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 0%;
  padding-bottom: 0%;
  text-align: justify;
  font: 2.4vh 'ABeeZee', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #142e3f;
}

.offerPricebox{
  background-image:
    radial-gradient(
      circle at top right,
      rgb(50, 80, 99),
      #ffffff
    );
}

.oldPrice{
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-right: 1vw;
  text-align: right;
  font: 4vh 'Dancing Script', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: red;
  text-shadow: -0.5px 0 rgb(133, 1, 1), 0 1px rgb(133, 1, 1), 1px 0 rgb(133, 1, 1), 0 -1px rgb(133, 1, 1);
  background-image:
    radial-gradient(
      circle at top right,
      rgb(85, 84, 84),
      #ffffff
    );
}

.price{
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-right: 1vw;
  text-align: right;
  font: 7vh 'Dancing Script', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-shadow: -1px 0 #233F51, 0 1.5px #142e3f, 1.5px 0 #233F51, 0 -1.5px #142e3f;
}

.controls{
  text-align:center;
  height: 3vh;
  width: 100%;
}

.galleryBtn{
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  color:#fff!important;
  background-color:rgba(0, 0, 0, 0.5)!important;
}

.galleryBtn.prevImg{
  position:absolute;
  top:40%;
  left:0%;
  height: 30%;
  transform:translate(0%,-60%);
  -ms-transform:translate(-0%,-60%);
}

.galleryBtn.nextImg{
  position:absolute;
  top:40%;
  right:0%;
  height: 30%;
  transform:translate(0%,-60%);
  -ms-transform:translate(0%,-60%);
}

.dots{
  background-color:#000;
  color:rgba(0, 0, 0, 0.6);
  display:inline-block;
  height: 1vh;
  padding-left:1.5vw;
  padding-right:1.5vw;
  padding-bottom: 0.7vh;
  margin-left: 2vw;
  text-align:center;
  border-radius:60%;
  border:1px solid rgba(0, 0, 0, 0.6)!important;
  background-color:transparent!important;
}

p.offerCategory{
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    height: 6vw;
    color: #142e3f !important;
    text-align: center;
    font: 2.2vh 'ABeeZee', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: -0.1px 0 #BDB098, 0 0.1px #BDB098, 0.1px 0 #BDB098, 0 -0.1px #BDB098;
}

.addToFavourite{}

.favourite{
  box-sizing: border-box;
  position: relative;
  margin-top: 15px;
  width: 100%;
  border: none;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  height: 45px !important;
  color: #142e3f !important;
  text-align: center !important;
  font-size: 20px !important;
  background-color: #ff85a0 !important;
  font-family: 'ABeeZee', Arial, Helvetica, sans-serif;
  text-shadow: 0 -1px 0 #e7b6d4;
  background: url('../img/serce.png') 0px 0px no-repeat;
}

.dislike{
  box-sizing: border-box;
  position: relative;
  margin-top: 15px;
  width: 100%;
  border: none;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  height: 45px !important;
  color: #142e3f !important;
  text-align: center !important;
  font-size: 20px !important;
  background-color: #af82f7 !important;
  font-family: 'ABeeZee', Arial, Helvetica, sans-serif;
  text-shadow: 0 -1px 0 #c1a3f0;
  background: url('../img/kosz.png') 0px 0px no-repeat;
}

#favouritesOffers{
    margin-top: 9vh;
}

.filterParams{
    margin-top: 9vh;
}

.houseImg{}

.croppImg{}